@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: 'GidolinyaRegular';
    src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    width: 100%;
    background-color: rgb(248, 234, 217);
    font-family: 'GidolinyaRegular';
}

h1 {
  font-size: 30px;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

#list-cont {
  width: 60%;
  margin: 1rem auto;
  padding: 0.5rem;
  border: solid 1px rgb(0, 0, 0);
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.5rem;
  margin: auto;
}

.bi-arrow-counterclockwise {
  font-size: 15px;
  color: black;
}

#new-item {
  width: 50%;
  padding: 0.5rem;
  margin: auto;
  border: solid 1px black;
  font-size: 18px;
}

#list-items {
  width: 50%;
  padding: 0.2rem;
  margin: auto;
}