@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
  font-family: 'GidolinyaRegular';
  src:
    url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  width: 100%;
  background-color: rgb(236, 206, 172);
  font-family: sans-serif, 'GidolinyaRegular';
}

h1 {
  font-size: 30px;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

#list-cont {
  width: 50%;
  margin: 1rem auto;
  padding: 0;
  border: solid 1px rgb(0, 0, 0);
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 0.5rem;
  border-bottom: solid 1px rgb(32, 29, 29);
  margin: auto;
}

.bi-arrow-counterclockwise {
  font-size: 19px;
  padding: 0.3rem;
  color: rgb(103, 99, 99);
  margin: 0.3rem;
}

#new-item {
  width: 97%;
  padding: 0.4rem;
  margin: auto;
  border-bottom: solid 1px rgb(32, 29, 29);
  font-size: 18px;
  align-items: baseline;
}

.insert {
  float: right;
  padding: 0.3rem;
  align-items: center;
  opacity: 1;
  pointer-events: auto;
}

.bi-plus {
  font-size: 18px;
  padding: 0.1rem;
}

#add-new {
  width: 70%;
  padding: 0.5rem;
}

.checked {
  text-decoration: line-through;
}

#list-items {
  width: 99%;
  padding: 0.2rem;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0;
}

#clear {
  margin: auto;
  width: 100%;
  height: 3rem;
  padding: 0.6rem;
  opacity: 1;
  pointer-events: auto;
}

.single-task {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 8fr 1fr;
  border-bottom: solid 1px rgb(32, 29, 29);
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.05rem;
  height: 1rem;
}

.bi-three-dots-vertical {
  font-size: 15px;
  padding: 0.1rem;
  cursor: pointer;
}

.bi-trash {
  position: absolute;
  background: rgb(248, 234, 217);
  padding: 0.2rem;
  margin: 0;
  z-index: 2;
  top: -0.03rem;
  right: 1.6rem;
  height: 1.2rem;
  font-size: 14px;
  width: 3.5rem;
  cursor: pointer;
  transform: scale(0);
  transform-origin: center left;
  transition: transform 0.2s ease;
}

.bi-trash:hover {
  background-color: rgb(255, 255, 255);
}

.options:hover .bi-trash {
  transform: scale(1);
}

label {
  font-size: 16px;
  text-align: start;
  padding: 0.1rem;
}
